@charset "UTF-8";
.div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main {
	margin: auto auto;
}
.btn-toolbar {
	justify-content: space-between;
}

.input-group-text {
	height: 100%;
}