@charset "UTF-8";

/* 
.input-group {
	width: 100%;
	flex-direction: column;
}
.form-control {
	width: 100%;
	display: block;
}

.chk {
	width: 50%;
	display: inline-block;
}
 */


