html,
body {
  height: 100%;
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 5%;
  
  background-image: url("/resources/img/main4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  height: 100%;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  
  align-self: center !important;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.valid {
	font-size: 0.8em;
	display: block;
	text-align: left;
}
