<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fp.mapper.UserMapper">
	
	<!-- 정보 등록 시 해당 사업자의 테이블 생성 -->
	<select id="createUserTable" resultType="java.util.Map" parameterType="java.lang.String">
		${value}
 	</select>
 	
 	<!-- 정보 신규 등록 -->
 	<insert id="registerUser">
 		insert into user (bizNo, corpName, pw, addr, lati, longi, corpPhoneNo, sectors)
 		values ( #{bizNo}, #{corpName}, #{pw}, #{addr}, #{lati}, #{longi}, #{corpPhoneNo}, #{sectors} )
 	</insert>
 	
 	<!-- 신규 등록 시 사업자 번호 중복 체크 -->
 	<select id="bizNoChk" parameterType="java.lang.String" resultType="int">
 		select count(*) from user where bizNo = #{bizNo}
 	</select>
	
	<!-- 방문객 데이터 등록 -->
	<insert id="insertData">
		insert into united_board (bizNo, name, addr, phoneNo, temp, regdate, status)
		values ( #{bizNo}, #{name}, #{addr}, #{phoneNo}, #{temp}, now(), #{status} )
	</insert>
	
	<!-- 로그인 세션용 조회 -->
	<select id="login" resultType="org.fp.domain.UserVO">
		select * from user where bizNo = #{bizNo} and pw = #{pw}
	</select>
	
	<!-- 오늘 방문 기록 -->
	<select id="boardList" resultType="org.fp.domain.BoardVO" parameterType="org.fp.domain.BoardVO">
		<![CDATA[
			select * from united_board where bizNo = #{bizNo} and regdate like #{regdate}
		]]>
	</select>
	
	<!-- 특정일 방문 기록 - 자바스크립트에서 String regdate 받아올 때 앞/뒤 % 붙일 것-->
	<!-- <select id="specificDate" resultType="org.fp.domain.BoardVO" parameterType="org.fp.domain.BoardVO">
			select * from united_board where bizNo = #{bizNo} and regdate like #{regdate}
	</select> -->
	
	<!-- 이상 체온 리스트 -->
	<select id="monitorList" resultType="org.fp.domain.DashBoardVO">
		<![CDATA[
			select u.corpName, u.corpPhoneNo, b.temp, b.name, b.addr, b.phoneNo, b.regdate, u.lati, u.longi, b.bno, b.status
			from user u, united_board b 
			where u.bizNo = b.bizNo and (b.temp < 35.5 or b.temp > 37.5) and b.regdate >= curdate() order by b.regdate desc
		]]>
	</select>
	
	<!-- 검출 로그 상태 업데이트 -->
	<update id="updateStatus" parameterType="hashMap">
		update united_board set status = #{status}, updateDate = now() where bno = #{bno}
	</update>
	
	<!-- 유저 리스트 -->
	<select id="userList" resultType="org.fp.domain.UserVO">
		select bizNo, corpName, addr, corpPhoneNo, sectors from user where bizNo not in("admin")
	</select>
	
	<!-- 업체 별 기록 -->
	<select id="dailyList" resultType="org.fp.domain.BoardVO" parameterType="org.fp.domain.BoardVO">
		<![CDATA[
			select rn, name, addr, phoneNo, temp, regdate, updateDate, status from
				(select @rownum:=@rownum+1 as rn, u.* from united_board u, (select @rownum:=0) as tmp where bizNo = #{bizNo} and regdate like #{regdate}) as t;
		]]>
	</select>
	
	<!-- 유저 검색 -->
	<select id="searchUser" resultType="org.fp.domain.UserVO" parameterType="string">
		select * from user where (bizNo like #{keyword} or corpName like #{keyword}) and bizNo not in("admin")
	</select>
	
	<!-- qna 게시판 -->
	<insert id="qnaInsert">
		insert into qna_board (category, bizNo, title, content, regdate)
		values (#{category}, #{bizNo}, #{title}, #{content}, now())
	</insert>
	
	<select id="qnaList" resultType="org.fp.domain.QnaVO">
		select * from qna_board where bizNo like #{bizNo}
	</select>

</mapper>